<ion-header>
  <ion-toolbar>
  <ion-title>Cadastrar Carros</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content padding>
  <ion-list>
  <ion-item>
  <ion-label stacked>Id</ion-label>
  <ion-input type="text" name="id" [(ngModel)]="carro.id"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label stacked>Placa</ion-label>
  <ion-input type="text" name="placa" [(ngModel)]="carro.placa"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label stacked>Ano</ion-label>
  <ion-input type="text" name="ano" [(ngModel)]="carro.ano"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label stacked>Marca</ion-label>
  <ion-input type="text" name="marca" [(ngModel)]="carro.marca"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label stacked>Modelo</ion-label>
  <ion-input type="text" name="modelo_id" [(ngModel)]="carro.modelo_id">
  </ion-input>
  </ion-item>
  </ion-list>
  <ion-button block (click)="save()">Salvar</ion-button>
 </ion-content>